In [1]:
# https://github.com/justmarkham/pandas-videos
import pandas as pd
import numpy as np

# Version of Pandas
pd.__version__

'0.24.2'

In [2]:
# Version of pandas dependencies
pd.show_versions()

INSTALLED VERSIONS
------------------
commit: None
python: 3.7.3.final.0
python-bits: 64
OS: Linux
OS-release: 4.15.0-1047-azure
machine: x86_64
processor: x86_64
byteorder: little
LC_ALL: en_US.UTF-8
LANG: en_US.UTF-8
LOCALE: en_US.UTF-8

pandas: 0.24.2
pytest: None
pip: 19.1.1
setuptools: 41.0.1
Cython: None
numpy: 1.16.4
scipy: None
pyarrow: None
xarray: None
IPython: 7.6.1
sphinx: None
patsy: None
dateutil: 2.8.0
pytz: 2019.1
blosc: None
bottleneck: None
tables: None
numexpr: None
feather: None
matplotlib: None
openpyxl: None
xlrd: None
xlwt: None
xlsxwriter: None
lxml.etree: 4.3.4
bs4: None
html5lib: None
sqlalchemy: None
pymysql: None
psycopg2: None
jinja2: 2.10.1
s3fs: None
fastparquet: None
pandas_gbq: None
pandas_datareader: None
gcsfs: None

In [3]:
df = pd.DataFrame({'col one':[100, 200], 'col two':[300, 400]})
df

   col one  col two
0      100      300
1      200      400

In [4]:
x = pd.DataFrame(np.random.rand(4, 8))
x.index = list('ABCD')
x.columns = list('abcdefgh')
x

,a,b,c,d,e,f,g,h
A,0.468490,0.154537,0.391354,0.358155,0.871719,0.580826,0.741179,0.734624
B,0.524641,0.455001,0.176703,0.384318,0.840230,0.181457,0.378775,0.165177
C,0.562852,0.625924,0.560851,0.915375,0.507495,0.290881,0.244910,0.944177
D,0.938700,0.087108,0.222065,0.779520,0.355774,0.294664,0.275179,0.186233

In [5]:
pd.DataFrame(np.random.rand(4, 8), columns=list('abcdefgh'))

,a,b,c,d,e,f,g,h
0,0.502376,0.390306,0.839044,0.672122,0.910849,0.915243,0.371924,0.183718
1,0.083257,0.381576,0.771543,0.243825,0.103156,0.437538,0.717053,0.204528
2,0.551524,0.791904,0.970342,0.623112,0.600279,0.569076,0.141645,0.833473
3,0.489558,0.333270,0.848362,0.554411,0.780907,0.800878,0.830787,0.744851