In [1]:
import pandas as pd
df = pd.DataFrame({'col one':[100, 200], 'col two':[300, 400]})
df

   col one  col two
0      100      300
1      200      400

In [2]:
# The most flexible method for renaming columns is the rename() method. 
# You pass it a dictionary in which the keys are the old names and the values are the new names, 
# and you also specify the axis:
df = df.rename({'col one':'col_one', 'col two':'col_two'}, axis='columns')
df

   col_one  col_two
0      100      300
1      200      400

In [3]:
# Now if you're going to rename all of the columns at once
df.columns = ['col_1', 'col_2']
df

   col_1  col_2
0    100    300
1    200    400

In [4]:
# Now if the only thing you're doing is replacing spaces with underscores,
# an even better method is to use the str.replace() method, 
# since you don't have to type out all of the column names:
df.columns = df.columns.str.replace('_', ' ')
df

   col 1  col 2
0    100    300
1    200    400

In [6]:
df.add_prefix('X_')

   X_col 1  X_col 2
0      100      300
1      200      400

In [7]:
df.add_suffix('_Y')

   col 1_Y  col 2_Y
0      100      300
1      200      400