In [1]:
import pandas as pd 
df = pd.DataFrame({'col_one':['1.1', '2.2', '3.3'],
                   'col_two':['4.4', '5.5', '6.6'],
                   'col_three':['7.7', '8.8', '-']})
df

  col_one col_two col_three
0     1.1     4.4       7.7
1     2.2     5.5       8.8
2     3.3     6.6         -

In [2]:
# These numbers are actually stored as strings, which results in object columns:
df.dtypes

col_one      object
col_two      object
col_three    object
dtype: object

In [3]:
# In order to do mathematical operations on these columns, we need to convert the data types to numeric. You can use the astype() method on the first two columns:
df.astype({'col_one':'float', 'col_two':'float'}).dtypes

col_one      float64
col_two      float64
col_three     object
dtype: object

In [4]:
# However, this would have resulted in an error if you tried to use it on the third column, 
# because that column contains a dash to represent zero and pandas doesn't understand how to handle it.

# Instead, you can use the to_numeric() function on the third column and tell it to convert
# any invalid input into NaN values:
pd.to_numeric(df.col_three, errors='coerce')

0    7.7
1    8.8
2    NaN
Name: col_three, dtype: float64

In [5]:
pd.to_numeric(df.col_three, errors='coerce').fillna(0)

0    7.7
1    8.8
2    0.0
Name: col_three, dtype: float64

In [6]:
# Finally, you can apply this function to the entire DataFrame all at once by using the apply() method:

df = df.apply(pd.to_numeric, errors='coerce').fillna(0)
df

   col_one  col_two  col_three
0      1.1      4.4        7.7
1      2.2      5.5        8.8
2      3.3      6.6        0.0

In [7]:
df.dtypes

col_one      float64
col_two      float64
col_three    float64
dtype: object